@model WebCV.Models.User
@using Microsoft.AspNetCore.Identity
@using WebCV.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Index";
}
<h1>My name is: @UserManager.GetUserAsync(User).Result.FullName</h1>
<p>Full Name</p>
<input type="text" class="form-control box-item" placeholder="Give me your Full Name" />
<p>Phone Numbers</p>
<input type="text" class="form-control box-item" placeholder="Give me your Phone Number" />
<p>Address</p>
<input type="text" class="form-control box-item" placeholder="Give me your Address" />

<button type="button" class="btn btn-success">Save</button>