Welcome to Admin (1)
<br />
<a asp-area="Admin" asp-controller="Template" asp-action="Index" style="margin:20px">Template Magagement</a><br />
<a asp-area="Admin" asp-controller="Slide" asp-action="Index" style="margin:20px">Edit slider</a>
<br />
<a asp-area="Admin" asp-controller="Evaluate" asp-action="Index" style="margin:20px">Edit Evaluate</a>