@using Microsoft.AspNetCore.Identity
@using WebCV.Models
@using System.Security.Claims

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
}

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="~/" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-primary">TTKV CV Jobs</h1>
    </a>

    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="~/" class="nav-item nav-link active">Home</a>

            @{
                if (SignInManager.IsSignedIn(User))
                {
                    if (claimsIdentity.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role).Value == "User")
                    {
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">CV</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="category.html" class="dropdown-item">CV decoration</a>
                                <a href="testimonial.html" class="dropdown-item">Interview Preparation</a>
                                <a href="404.html" class="dropdown-item">404</a>
                            </div>
                        </div>
                    }
                    else if (claimsIdentity.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role).Value == "Admin")
                    {
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tools</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a asp-controller="Admin" asp-action="Index" class="dropdown-item">Dashboard</a>
                            </div>
                        </div>
                    }
                } else
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">CV</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="category.html" class="dropdown-item">CV decoration</a>
                            <a href="testimonial.html" class="dropdown-item">Interview Preparation</a>
                            <a href="404.html" class="dropdown-item">404</a>
                            <a href="category.html" class="dropdown-item">sdadasdn</a>
                        </div>
                    </div>
                }

            }

            <partial name="_LoginPartial" />
        </div>
        <a href="" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Post A Job<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->