<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Thong tin san pham</h1>
                <p>Bong chuyen thang long</p>
                <img src="img/OIP (1).jfif" alt="">
                <p>
                    1. THÔNG TIN SẢN PHẨM    
                    - Mã sản phẩm: VB7400.
                    - Màu sắc: Xanh + Vàng + Trắng.                    
                    - Size: số 5.                    
                    - Chu vi bóng: 650 - 670 mm.                   
                    - Trọng lượng: 260 - 280 gram.                   
                    - Độ nảy: 90 - 120 cm.                   
                    - Hãng sản xuất: Thăng Long.                   
                    - Xuất xứ: Việt Nam.                 
                    2. MÔ TẢ SẢN PHẨM                 
                    - Thăng Long 7400 là mẫu bóng cao cấp, đạt đầy đủ các quy chuẩn khắt khe từ liên đoàn bóng chuyền Thế Giới FIVB. Thăng Long 7400 được đưa vào sử dụng trong các giải đấu bán chuyên và chuyên nghiệp. Là mẫu bóng được yêu chuộng sử dụng nhiều bậc nhất hiện nay tại Việt Nam                 
                    - Quả bóng chuyền thi đấu da Nhật VB7400 được may chắc chắn, tròn đều từ chất liệu da nhung nhập khẩu và đạt tiêu chuẩn thi đấu chuyên nghiệp. Bóng có độ nảy cực chuẩn, giữ hơi tốt và tạo cảm giác êm dịu tay khi đánh.               
                    - Quả bóng chuyền làm bằng da tổng hợp của Nhật Bản và đạt đầy đủ các tiêu chuẩn quy định của Liên đoàn bóng chuyền quốc tế FIVB.         
                    - Quả bóng chuyền thi đấu da Nhật VB7400 được sử dụng trong tập luyện và thi đấu ở hầu hết các giải bóng chuyền tại Việt Nam</p>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
