@model WebCV.Models.Template;

<div class="container mt-5">

    <div class="row">
        <div class="col-md-4">
            <form id="upload-img-form" method="post" asp-area="" asp-controller="CV" asp-action="SaveImage" enctype="multipart/form-data">
                <input class="btn btn-primary" type="file" name="image" accept="image/*" onchange="loadFile(event)">
            </form>
            <button class="btn btn-primary mt-3" onclick="DownloadPDF()">Tải xuống PDF</button>
            <button class="btn btn-primary mt-3" onclick="SaveChanges()">Lưu tại đây</button>
        </div>
        <div class="col-md-8">
            <iframe src="@Url.Content("~/images/templates/" + Model.File)"
                    id="cv-iframe"
                    width="100%"
                    height="500"
                    frameborder="0"></iframe>
        </div>
    </div>

</div>

<form id="upload-cv-form" method="post" enctype="multipart/form-data" asp-area="" asp-controller="CV" asp-action="SaveCV">
    <input id="html-body" type="hidden" name="htmlBody"/>
    <input name="TemplateId" type="hidden" value="@Model.TemplateId" />
</form>

@section Scripts{
    <script>
        var loadFile = function (event) {
            var iframe = document.getElementById("cv-iframe");
            var elmnt = iframe.contentWindow.document.getElementsByTagName("img")[0];
            elmnt.src = URL.createObjectURL(event.target.files[0]);
        };

        function DownloadPDF() {
            let frameObj = document.getElementById("cv-iframe");
            let wspFrame = frameObj.contentWindow;
            wspFrame.focus();
            wspFrame.print();
        }

        $('#upload-img-form').submit(function (e) {
            e.preventDefault(); 

            $.ajax({
                url: this.action,
                type: this.method,
                data: new FormData(this),
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    var iframe = document.getElementById("cv-iframe");
                    var elmnt = iframe.contentWindow.document.getElementsByTagName("img")[0];
                    elmnt.src = "/images/cvs/" + data.image;
                    $('#upload-cv-form').submit();
                },
                error: function (xhr, error, status) {
                    console.log(error, status);
                }
            });
        });

        function getHTMLFromIframe() {
            var iframe = document.getElementById("cv-iframe");
            var html = iframe.contentWindow.document.documentElement.outerHTML;
            return html;
        }

        $('#upload-cv-form').submit(function (e) {
            var html = getHTMLFromIframe();
            document.getElementById('html-body').value = html;
            e.preventDefault();

            $.ajax({
                url: this.action,
                type: this.method,
                data: new FormData(this),
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    alert("success");
                },
                error: function (xhr, error, status) {
                    console.log(error, status);
                }
            });
        });


        document.addEventListener('keydown', e => {
            if (e.ctrlKey && e.key === 's') {
                e.preventDefault();
                $('#upload-img-form').submit();
            }
        });

        const SaveChanges = () => {
            if (confirm("Are your sure?")) {
                $('#upload-img-form').submit();
            }
        }
    </script>
}