@model WebCV.Models.Template

@{
    ViewData["Title"] = "Delete";
}

<div>
    <div class="container">

        <h1>Xóa</h1>

        <h3>Bạn có chắc chắn muốn xóa mẫu này? Điều này sẽ không được hoàn tác!</h3>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="post" id="template-form" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TemplateId" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" disabled name="title" class="form-control" />
                        <span asp-validation-for="Title" id="title-error" class="text-danger"></span>
                    </div>
                    <span class="mt-4">
                        Image: <br />
                    </span>
                    <img class="mt-2" src="~/images/templates/@Model.Image" width="100%" alt="Not Have Yet" />
                    <div class="form-group">
                        <label asp-for="Link" class="control-label"></label>
                        <input asp-for="Link" disabled name="link" class="form-control" />
                        <span asp-validation-for="Link" id="link-error" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <iframe src="@Url.Content("~/images/templates/" + Model.File)"
                        id="preview"
                        width="100%"
                        height="500"
                        frameborder="0"></iframe>
            </div>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="TemplateId" />
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a asp-action="Index">Trở về</a>
        </form>
    </div>
    
</div>
